.git
.github
.vscode
.idea
docs
.env
.gitignore
docker-compose.yml
Dockerfile
.dockerignore
node_modules
npm-debug.log
dist

**/coverage
**/node_modules
!**/node_modules/@amplication/prisma-clients
*.md
**/*.md
*.yaml
**/*.yaml

**/*.spec.ts
**/*.mock.ts

.amplication

libs/

!**/data-service-generator/src/**/static/**/*.*